.resources {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1em;
  }
}

.resource-category {
  text-align: left;
  border-left: 4px solid var(--border-color);
  padding-left: 1em;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }

  &__title {
    font-weight: 600;
  }

  .resource {
    padding-left: 2ch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &__title {
      margin-right: 1ch;
    }

    &__description {
      font-size: 0.9em;
    }
  }
}
