*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  line-height: 1.5;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
}

img, picture {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: .9rem;
    margin-top: 5px;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code, kbd {
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  background: var(--background-secondary);
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: normal;

  code, kbd {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

pre {
  background: #212020;
  padding: 20px;
  border-radius: 8px;
  font-size: .9rem;
  overflow: auto;

  @media (--phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
}

blockquote {
  border-left: 2px solid;
  margin: 1.5em;
  padding: 10px 20px;

  @media (--phone) {
    margin: 10px;
    padding: 10px;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
}

th {
  background: var(--background-secondary);
}

ul, ol {
  margin-left: 40px;
  padding: 0;

  @media (--phone) {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  margin: 1.5rem 0;
}

.content > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}

.framed {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

blockquote.twitter-tweet {
  background: hsl(206deg 62% 45% / 10%);
  border: none;
  padding: 30px;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 8px;
}

