.posts {
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
  }
}

.post {
  text-align: left;
  padding: 1em;
  margin: 1em auto;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 0.25em;

    @media (--phone) {
      font-size: .85rem;
    }
  }

  &-title {
    font-size: 2.25rem;
    margin: 0 0 0.125em;

    @media (--phone) {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: flex;
    font-size: 1rem;
    opacity: .5;
    margin-bottom: 0.25em;

    a {
      text-decoration: none;
    }

    a:not(:last-of-type) {
      margin-right: 1ch;
    }
  }

  &-content {
    margin-top: 1.125em;

    p {
      margin-bottom: 1em;
    }
  }

  &-cover {
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;

    img {
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
    }

    @media (--tablet) {
      margin: 20px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
